/*Reset Css Rules*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    background-image: url(surveyback.jpeg);
    color: white;
    padding: 30px 100px;
    font-family: 'Roboto Mono', sans-serif;
}

#page-container{
  background-color: rgba(138, 43, 226, 0.3);
  padding: 20px;
}

#form-header{
    text-align: center;
}

#form-description{
   /*change if I want*/
}

#form-title{
    padding: 15px;
    font-family: 'Bowlby One SC', cursive;
    letter-spacing: 5px;
    color: rgb(224, 62, 224);
}

#form-title span{
    color: #047fca;

}

#survey-form{
    max-width: 500px;
    margin: 30px auto;
    padding: 40px;
    background-color: black;
}
label{
   margin-bottom: 10px;
} 

.form-group{
    margin-bottom: 20px;
}

label, input{
    display: block;
}

.checkbox-group input, .checkbox-group label{
    display: inline-block;
}

input, textarea, select{
    padding: 10px;
    width: 100%;
}

.checkbox-group input{
    width: auto;
}

#submit-form{
    text-align: center;
}

button{
     background-color: #047fca;
     padding: 22px 62px;
     color: white;
     border-radius: 50px;
     /* can use % for border-radius also to round it, but might not round it properly*/
     
}


ul {
    list-style: none;
 }

@media screen and (max-width: 1200px){
    .main-container{
      width: 95%;
    }
}